In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods = 6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.264234  0.729698  1.836764  0.491516
2013-01-02 -0.189241  0.324406 -0.352226  0.037237
2013-01-03 -0.727663 -0.147563 -1.660665  1.772671
2013-01-04 -0.697228  0.559510  1.476611  0.078922
2013-01-05 -1.944022 -0.045084  0.884133  0.953102
2013-01-06  0.425684 -0.213163  0.173974 -0.228718

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20170123'),
                     'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                     'D' : np.array([3] *4, dtype = 'int32'),
                     'E' : pd.Categorical(["test", ""]),
                     'F' : 'foo' })

ValueError: arrays must all be same length

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20170123'),
                     'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
                     'D' : np.array([3] * 4, dtype = 'int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [12]:
df2.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

df2.dtypes

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object